* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: blue;
    padding: 2em;
    border: firebrick solid 3px;
    margin: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    text-align: center;
    font-size: 1em;
    color: blue;
    border: firebrick solid 3px;
    margin: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 3em;

}

a {
    text-align: center;
    text-decoration: none;
    color: firebrick;
    border: forestgreen solid 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.1rem;
    margin: 0.5rem;
    font-size: 3em;
    display: block;
}

a:hover {
    border: firebrick solid 3px;
    color: blue;
}