h1 {
    text-align: center;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    text-decoration: dotted;
    border: solid 2px blueviolet;
    border-radius: 20px;
    padding: 20px;
}

p {
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    border: solid 2px blueviolet;
    border-radius: 20px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: brown;
    font-size: large;
    background-color: aqua;
    border: solid 2px red;
    padding: 20px;
    text-align: center;
    display: block;
    border-radius: 30px;
    transition: 1s;
}

a:hover {
    background-color: antiquewhite;
}