* {
    padding: 0;
    margin: 0;
}

body {
    padding-left: 10px;
    padding-right: 10px;
}

#timerTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: darkblue;
    text-align: center;
    padding: 7px;
    border: 1px solid rebeccapurple;
    margin: 10px auto;
    border-radius: 20px;
}

#timeDisplay {
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    color: rebeccapurple;
    border: 1px solid rebeccapurple;
    border-radius: 20px;
    margin: 10px auto;
    padding: 5px;
}

.rangeContainer {
    display: grid;
    justify-content: center;
    gap: 5px;
    min-width: 300px;
    border: 2px solid rebeccapurple;
    margin: 5px auto;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 10px;
}

.rangeContainer label {
    font-size: 20px;
    color: #2810e0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rangeContainer p {
    font-size: 16px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 5px;
}

.rangeContainer2 {
    display: grid;
    justify-content: center;
    gap: 3px;
    min-width: 300px;
    border: 2px solid rgb(33, 19, 226);
    margin: 5px auto;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 8px;
}

.rangeContainer2 label {
    font-size: 20px;
    color: #0b255c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.button-27 {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 5px auto;
    min-height: 60px;
    min-width: 300px;
    width: 100%;
    max-width: 100%;
    outline: none;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    min-width: 100;
    will-change: transform;
    justify-content: center;
}

.button-27:disabled {
    pointer-events: none;
    color: #000000;
    background-color: darkblue;
}

.button-27:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-27:active {
    box-shadow: none;
    transform: translateY(0);
}

















/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 350px;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #e713af;
    border-radius: 10px;
    height: 10px;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -5px;
    /* Centers thumb on the track */
    background-color: #2810e0;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #2810e0;
    outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: #e713af;
    border-radius: 10px;
    height: 10px;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    background-color: #2810e0;
    border: none;
    /*Removes extra border that FF applies*/
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

input[type="range"]:focus::-moz-range-thumb {
    outline: 3px solid #2810e0;
    outline-offset: 0.125rem;
}



















/*********** Baseline, reset styles ***********/
.rangeContainer2 input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 350px;
}

/* Removes default focus */
.rangeContainer2 input[type="range"]:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
.rangeContainer2 input[type="range"]::-webkit-slider-runnable-track {
    background-color: #09abe1;
    border-radius: 50px;
    height: 8.5px;
}

/* slider thumb */
.rangeContainer2 input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: 0.25px;
    /* Centers thumb on the track */
    background-color: #f415c4;
    border-radius: 50px;
    height: 8px;
    width: 8px;
}

.rangeContainer2 input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #f415c4;
    outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
.rangeContainer2 input[type="range"]::-moz-range-track {
    background-color: #09abe1;
    border-radius: 50px;
    height: 8.5px;
}

/* slider thumb */
.rangeContainer2 input[type="range"]::-moz-range-thumb {
    background-color: #f415c4;
    border: none;
    /*Removes extra border that FF applies*/
    border-radius: 50px;
    height: 8px;
    width: 8px;
}

.rangeContainer2 input[type="range"]:focus::-moz-range-thumb {
    outline: 3px solid #f415c4;
    outline-offset: 0.125rem;
}